.boardRow{
    margin-left: 250px;
}

.boardRow:after {
    clear: both;
    content: '';
    display: table;
}
.status {
    margin-bottom: 20px;
    text-align: center;
  
    font-size: 20px;
   font-weight: bold;
   color: aliceblue;
}
/* this is the worst css ive writen in a while */